body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rosybrown;
}
#calculator {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: dimgray;
    border-radius: 20px;
    max-width: 400px;
    overflow: hidden;
}

#display{
    width: 80%;
    height: 60px;
    padding: 15px;
    font-size: 2rem;
    text-align: right;
    border: black;
    border-radius: 20px;
    background-color: lightgray;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border:none;
    background-color: darkorange;
    color: white;
    font-size: 2rem;
}
button:hover{
    cursor: pointer;
    color: black;
    background-color: orange;
}
button:active{
    background-color: navajowhite;
}

.clearBtn{
    color: black;
    background-color: orangered;
}
.clearBtn:hover{
    background-color: crimson;
}
